@using PagedList.Mvc
@model PagedList.IPagedList<LaibrarySystem.Dto.Book>
@{
    ViewBag.Title = "Book History";
}

<h2>BookHistory</h2>

<link rel="stylesheet" type="text/css" href="~/Content/TableCSS.css">
<div class="mask d-flex align-items-center h-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card mask-custom">
                    <div class="card-body">
                        <form asp-controller="Admin" asp-action="Index" method="get">
                            <div class="row mt-4">
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <input type="text" name="SearchString" class="form-control myInput text-white" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-outline-warning" type="submit">Search</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-borderless text-white mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            Book Title
                                        </th>
                                        <th>
                                            Client Name
                                        </th>
                                        <th>
                                            Rent Date
                                        </th>
                                        <th>
                                            Return Date
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.client.ClientName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RentDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ReturnDate)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="text-white offset-3 pagination" style="margin-top:0px">
                                <div style="position:absolute;left:8%">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                </div>
                                @Html.PagedListPager(Model, page => Url.Action("BookHistory", new { page }))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="@Url.Action("Index","Admin")" class="btn btn-light mt-2 ml-3">Back to List</a>


