<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
    <link rel="shortcut icon" href="~/Content/images/logo.png" />

    @*<style>
        nav a {
            color: white !important;
        }

        nav li a:hover {
            background-color: darkgrey !important;
        }

        nav li a:focus {
            background-color: darkgrey !important;
        }

        nav li a:active {
            background-color: darkgrey !important;
        }
    </style>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body onbeforeunload="setHourglass();" onunload="setHourglass();" style="background-image: url('../../Content/images/slider_background.jpg'); background-repeat: no-repeat; height:100%">
    @*<div class="navbar navbar-inverse navbar-fixed-top">*@
    @*<nav class="navbar navbar-dark bg-primary navbar-fixed-top">*@
        @*navbar-inverse*@
        @*<div class="container">
            @if (System.Web.HttpContext.Current.Session[LMS_Project_Week2.CommonClass.AuthinticationLoginSession.loggedInUserObject] != null)
            {
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Library Management System", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Guest Home", "Index", "Guest")</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration:underline">
                                @Session["Username"]
                            </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown" style="background: #337ab7">
                                <ul>
                                    <li><a class="dropdown-item" href="@Url.Action("Login","Login")">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Library Management System", "Index", "Guest", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Guest")</li>
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                    </ul>
                </div>
            }
        </div>*@
        @*</div>*@
    @*</nav>*@
    <header>
        <div>
            @Html.Partial("Navbar")
        </div>
    </header>
    <div class="container body-content">
        <div style="min-height:55vh">
        @RenderBody()
            </div>
        <hr />
        @*<div class="panel-footer" style="position:absolute;bottom:0%; left:0%;right:0%;width:100%">*@
        <footer>
            <p class="text-center" style="color:white">&copy; @DateTime.Now.Year - Library Management System</p>
        </footer>

        @*</div>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Content/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Content/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Content/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Content/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="~/Content/plugins/easing/easing.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script type="text/javascript">
        function setHourglass() {
            document.body.style.cursor = 'wait';
        }
    </script>
</body>
</html>
