@model LaibrarySystem.Dto.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Login</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
    <link href="~/Content/LoginCSS.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/images/library-open-book-icon-png.png" />
</head>
<body>
    <div class="text-center">
        <h1 class="ml6">
            <span class="text-wrapper">
                <span class="letters">Library Management System</span>
            </span>
        </h1>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div id="first">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h3>Admin Login</h3>
                            </div>
                        </div>
                        <form method="post" action="@Url.Action("Login","Login")" autocomplete="off">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label for="exampleInputUsername1">Username</label>
                                <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(u => u.username)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Password</label>
                                <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(u => u.password)
                                </div>
                            </div>
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    <button class="close" data-close="alert"></button>
                                    <span> @ViewBag.Message </span>
                                </div>
                            }
                            <div class="col-md-12 text-center ">
                                <button type="submit" class="btn btn-block mybtn btn-primary">Login</button>
                            </div>
                            <div class="col-md-12 ">
                                <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">or</span>
                                </div>
                                <div class="offset-4 text-center">
                                    <a href="@Url.Action("Guest","Pages")" class="btn btn-block mybtn btn-light" style="width:fit-content">Login as a guest</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="text/javascript">
        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml6 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml6 .letter',
                translateY: ["1.1em", 0],
                translateZ: 0,
                duration: 1,//750,
                delay: (el, i) => 50 * i
            }).add({
                targets: '.ml6',
                opacity: 0,
                duration: 1,//1000,
                easing: "easeOutExpo",
                delay: 9000
            });
    </script>
</body>
</html>
