@model IEnumerable<LMS_Project_Week2.Entity.Books>

@{
    ViewBag.Title = "Return Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReturnBook</h2>
<br />
@if (@ViewBag.okMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.okMessage
    </div>
}
@if (Model.Count() > 0)
{
    <form asp-controller="Guest" asp-action="ReturnBook" method="post">
        <div class="form-group">
            <label for="sel1">Select Book :</label>
            <select class="form-control" name="id">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Title</option>

                }

            </select>
        </div>

        <button type="submit" class="btn btn-primary">Return Book</button>

    </form>
}
else
{
    <div class="alert alert-danger" role="alert">
        No books
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>